.card {
  box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
  background-color: #fff;
  font-size: 50px;
  text-align: center;
  width: 150px;
  height: 200px;
  line-height: 200px;
  border-radius: 10px;
  margin: 10px;
}

.hearts,
.diamonds, .res {
  color: red;
}
.clubs,
.spades {
  color: black;
}

.gameWrapper {
  box-sizing: border-box;
  border: 2px solid #91e26f;
  width: 600px;
  min-height: 400px;
  margin: 25px auto;
}